body, div {
    margin: 0 !important;
    font-family: Arial, sans-serif;
    position: fixed;
}

canvas {
    cursor: crosshair;
}

div {
    padding: 20px;
    box-sizing: border-box;
}

.left-label {
    display: inline-block;
    width: 50px;
    text-align: right;
    margin-right: 5px;
}

label {
    margin-left: 5px;
}

#sidebar {
    right: 0;
    top: 0;
    width: 30%;
    height: 100%;
}

#navigation {
    left: 0;
    bottom: 0;
    width: 70%;
    height: 80px;
}

.button,
.selectable-button label,
.selectable-button input {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    display: flex;
    border: 1px solid black;
    margin: 0;
    z-index: 1;
    padding: 0;
    background: #E6E6EA;
    transition-duration: 0.15s;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    /* Apparently some elements have box-sizing of border-box by default... why must backwards compatibility be such a pain to debug */
    box-sizing: content-box;
}

.button:disabled {
    cursor: not-allowed;
}

.selectable-button input[type="radio"],
.selectable-button input[type="checkbox"] {
    display: none;
}

.button:hover,
.selectable-button label:hover,
.button-text {
    padding: 2px;
    z-index: 1;
    border: 1px solid white;
}

.selectable-button input[type="radio"]:checked + label,
.selectable-button input[type="checkbox"]:checked + label {
    background: #CDCDD6;
}


.square-button,
.square label,
.square input {
    width: 50px;
    height: 50px;
}

#play {
    bottom: 15px;
    left: 20%;
    right: 55%;
    height: 50px;
}

#next {
    bottom: 15px;
    left: 55%;
    right: 20%;
    height: 50px;
}

#b1a {
    bottom: 15px;
    left: 15px;
}
#b1b {
    bottom: 15px;
    left: 80px;
}
#b1c {
    bottom: 15px;
    left: 145px;
}
#b2a {
    bottom: 15px;
    left: 210px;
}
#b2b {
    bottom: 15px;
    left: 275px;
}
#b3a {
    bottom: 15px;
    left: 340px;
}
#b3b {
    bottom: 15px;
    left: 405px;
}