body, div {
    margin: 0 !important;
    font-family: Arial, sans-serif;
    font-size: 16px;
    position: fixed;
}

.big {
    font-size: 32px;
}

sub {
    font-size: 70%;
}

canvas {
    cursor: crosshair;
}

div {
    padding: 20px;
    box-sizing: border-box;
}

.left-label {
    display: inline-block;
    width: 50px;
    text-align: right;
    margin-right: 5px;
}

.note-label {
    display: inline-block;
    width: 80px;
    text-align: right;
    margin-right: 5px;
}

label {
    margin-left: 5px;
}

#blur {
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    z-index: 100;
}

#popup {
    left: 30%;
    right: 30%;
    top: 30%;
    bottom: 30%;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: white;
    box-shadow: 2px 2px 5px black;
}

#intro-text {
    left: 30%;
    right: 30%;
    top: 30%;
    bottom: 30%;
    padding: 16px;
    display: block;
    text-align: left;
    justify-content: left;
    background: white;
    box-shadow: 2px 2px 5px black;
}

#intro-button {
    display: initial;
    position: relative;
    bottom: 0;
    margin: 16px;
}

#sidebar {
    right: 0;
    top: 0;
    width: 30%;
    height: 100%;
    padding: 0;
    color: #e3dedc;
    background: linear-gradient(20deg, #000428, #004e82);
}

#info {
    padding-left: 32px;
    padding-right: 32px;
    width: 30%;
    height: 100%;
    overflow-y: auto;
}

#navigation {
    left: 0;
    bottom: 0;
    width: 70%;
    height: 80px;
    background: linear-gradient(90deg, orange, rgb(255, 162, 80));
    overflow-y: auto;
}

input[type=number] {
    background: rgb(84, 84, 84);
    color: #e3dedc;
}

.button,
.selectable-button label,
.selectable-button input {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    display: flex;
    border: 1px solid black;
    margin: 0;
    z-index: 1;
    padding: 0;
    border-radius: 4px;
    background: #E6E6EA;
    transition-duration: 0.15s;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    /* Apparently some elements have box-sizing of border-box by default... why must backwards compatibility be such a pain to debug */
    box-sizing: content-box;
}

.button:disabled {
    cursor: not-allowed;
}
input:disabled {
    cursor: not-allowed;
    background: black;
    color: #c7bdb9;
}

.selectable-button input[type="radio"],
.selectable-button input[type="checkbox"] {
    display: none;
}

.button:hover,
.selectable-button label:hover,
.button-text {
    padding: 2px;
    z-index: 1;
    border: 1px solid white;
}

.selectable-button input[type="radio"]:checked + label,
.selectable-button input[type="checkbox"]:checked + label {
    background: #CDCDD6;
}


.square-button,
.square label,
.square input {
    width: 50px;
    height: 50px;
}

.long-button,
.long label,
.long input {
    width: 200px;
    height: 50px;
}

#play {
    bottom: 15px;
    left: 20%;
    right: 55%;
    height: 50px;
}

#next {
    bottom: 15px;
    left: 55%;
    right: 20%;
    height: 50px;
}

#b1a {
    bottom: 15px;
    left: 15px;
}
#b1b {
    bottom: 15px;
    left: 80px;
}
#b1c {
    bottom: 15px;
    left: 145px;
}
#b2a {
    bottom: 15px;
    left: 210px;
}
#b2b {
    bottom: 15px;
    left: 275px;
}
#b3a {
    bottom: 15px;
    left: 340px;
}
#b3b {
    bottom: 15px;
    left: 405px;
}
#b4a {
    bottom: 15px;
    left: 470px;
}
#b5a {
    bottom: 15px;
    left: 535px;
}
#b6a {
    bottom: 15px;
    left: 600px;
}
#b6b {
    bottom: 15px;
    left: 665px;
}
#b7a {
    bottom: 15px;
    left: 730px;
}